body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb;
}

.alarm-container {
    text-align: center;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#set-alarm {
    margin-top: 20px;
}

input[type="time"] {
    font-size: 1rem;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 5px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #333;
    cursor: pointer;
}

button:hover {
    background-color: #21a1f1;
}

#alarm-status {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #f06292;
}
